<!-- starts screnshots -->
<section>
  <div class="row-fluid">
    <div class="span4">
      <h2>FARMA e FARMA-Calc</h2>
      <p>
        A FARMA-Calc é uma versão da Ferramenta de Autoria FARMA desenvolvida com o objetivo de construir um Objeto de Aprendizagem que auxilie na autorregulação da aprendizagem de conteúdos de matemática necessários para o estudo de CDI. Além disso, a FARMA-Calc propiciou a implementação de novos recursos à FARMA. 
       </p>
    </div>

    <div class="span4 text-center">
      <img style="height: 200px;" src="/assets/farma-calc-logo.png" class="img-polaroid">
    </div>

    <div class="span4">
      <h2>Comece a utilizar</h2>
      <p>
        Acesse o <a target="_blank" href="/assets/farma-guia-do-professor.pdf">Guia do Professor</a> e começe
        a utilizar a FARMA-Calc para criar objetos de aprendizagem.
      </p>
      <p><a id="lo-example-link" href="#">Veja um exemplo de um OA criado com a FARMA-Calc</a></p>
      <p><a href="/users/sign-in">Acesse o Instrumento de Avaliação FARMA-Calc.</a></p>
    </div>
  </div>
</section>
<!-- end screnshots -->
