<!-- row of columns -->
<div class="row-fluid info-home">
  <div class="span6">
    <h2>Objeto de Aprendizagem</h2>
    <p>
      Um OA é "qualquer material digital, como, por exemplo, textos, animações, vídeos, imagens, aplicações, páginas web de forma isolada ou em combinação, com fins educacionais" (BEHAR et al, 2009). Ribeiro, Longaray e Behar (2011) completam: "Um OA pode ser qualquer material, desde que seja utilizado com fins educativos e embasamento pedagógico". OAs podem ser aplicados no âmbito da aprendizagem, educação ou treinamento, podendo envolver os mais diferentes temas e níveis de escolaridade, desde simulações de experimentos químicos, até alfabetização de crianças e adultos, por exemplo (IEEE, 2012; MONTEIRO, 2009).
    </p>
  </div>

  <div class="span6">
     <h3>Objeto de Aprendizagem FARMA-Calc </h3>
     <p>Objeto de Aprendizagem com Feedbacks para a aprendizagem de conceitos matemáticos necessários para aprendizagem de CDI.</p>
     <p>O OA possui 20 questões que abordam os três estratos de conhecimento da matemática (Numérico, Algébrico e Funcional).</p>
     <p><a href="/users/sign-in">Acesse o OA FARMA-Calc</a></p>
  </div>
</div>
