        <div>
          <div>
             <h3>Objetivos da FARMA</h3>
             <ul>
               <li>Permitir a construção de Objetos de Aprendizagem matemáticos</li>
               <li>Incentivar a construção de OAs na área matemática por parte dos professores</li>
               <li>Proporcionar um ambiente para construção de OAs matemáticos que seja de fácil utilização</li>
               <li>Incentivar o uso do erro como uma forma de aprendizagem, por meio das possibilidades:
                  <ul>
                    <li>Do professor poder analisar os erros e acertos dos aprendizes</li>
                    <li>Do professor e/ou aluno retroceder aos erros e acertos dos aprendizes</li>
                    <li>Permitir a troca remota de mensagens entre professores e aprendizes sobre os erros e acertos</li>
                  </ul>
               </li>

               <li>Oferecer mecanismos que permitam a construção de exercícios que incentivem
                   desenvolvimento gradual da capacidade de abstração do aprendiz</li>
               <li>Incentiver a remediação de erros por meio de dicas elaboradas</li>
               <li>Permitir mobilidade educacional</li>
               <li>Promover avaliação formativa</li>
             </ul>
          </div>
        </div>