<!-- starts screnshots -->
<section>
  <h3 style="margin-left: 10px"> Equipe de Desenvolvimento</h3>
  <div class="row-fluid">

    <div class="span4">
      <strong>Alex S. de Castilho</strong>
      <p>Idealizador Farma-Calc<br>
      Matemática</p>
      <p>Professor Assistente da Universidade Tecnológica Federal do Paraná - Câmpus Guarapuava <p/>
      <p>
        <a href="http://lattes.cnpq.br/0971381050120580">Lattes</a>
      </p>
    </div>

    <div class="span4">
      <strong>André Luis Trevisan</strong>
      <p>Educação Matemática, Ensino de Cálculo<br>
      Orientador
      </p>
      <p>Professor Adjunto da Universidade Tecnológica Federal do Paraná - Câmpus Londrina <p/>
      <p>
        <a href="http://lattes.cnpq.br/0971381050120580">Lattes</a>
      </p>
    </div>

    <div class="span4">
      <strong>Diego Marczal</strong>
      <p>Idealizador da FARMA<br>
      Coorientador</p>
      <p>
        Professor Adjunto da Universidade Tecnológica Federal do Paraná - Câmpus Guarapuava
      </p>
      <p>
        <a href="http://lattes.cnpq.br/2408496735598516">Lattes</a>
      </p>
    </div>
  </div>
</section>
<!-- end screnshots -->