<img style="width:40px; float: left; margin-right: 5px;" src="/assets/farma-calc-logo.png">
<a class="brand" data-url="" href="#">FARMA-Calc</a>
<a class="brand" data-url="dashboard" href="#">HOME</a>
