<div class="modal modal-fullscreen" id="exercise-hidden-modal" tabindex="-1" >
  <div class="modal-header">

    <header>
      <div class='center'>
       <div>
          <h4>{{title}}</h4>
        </div>
      </div>
    </header>
  </div>  

  <div class="modal-body">
    <div>{{safe content}}</div>
    <div id="exercise-hidden-questions"></div>
  </div>

  <div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn">Close</button>
  </div>
</div>
