<table class='answers-table table table-bordered table-hover'>
  <thead>
    <tr>
    <th>Turma</th>
    <th>OA</th>
    <th>Exercício</th>
    <th>Questão</th>
    <th>Ocorrida em</th>
    <th>Resposta</th>
    <th>Correta</th>
    <th data-toggle="tooltip" data-placement="left" data-original-title="Quantidade de Comentários">C</th>
    </tr>
  </thead>
  <tbody>
  </tbody
</table>
